# Compiled class file
*.class
target

# Log file
logs/
log/
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse #
.settings/
.classpath
.project
.factorypath

# IDEA #
.idea/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# config #
*dev.properties
# *dev.yml
*dev.yaml
*test.yml
# src/main/resources/bootstrap.yml

*.md
*.docx

pandoc.exe
